/*
 * Copyright (c) 2019-2020, Lukas Sigrist <lsigrist (at) mailbox.org>
 * All rights reserved.
 */

body {
	padding-top: 2rem;
	padding-bottom: 1rem;
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
	background-color:#333333;
}

footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999999;
}

h1, h2 {
	color: #000000;
}

figure {
	display: inline-block;
}

.container {
	max-width: 1250px;
	width: 1250px;
}

.image-zoom-preview-container {
	position: relative;
	margin-bottom: 10px;
}

.image-zoom-detail-container {
	margin: -5px;
}

.image-zoom {
	display: inline-block;
	width: 600px;
	height: 450px;
}

.image-zoom-preview {
	margin: 0px;
	padding: 0px;
}

.image-zoom-lens {
	position: absolute;
	background-color: #666666;
	opacity: 0.3;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
}

.image-zoom-detail {
	margin: 5px;
	background-repeat: no-repeat;
	background-color: transparent;
}
